.TodoSearch {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.TodoSearch input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  margin-right: 8px;
}

.TodoSearch input:focus {
  outline: none;
  border-color: #3897f0; /* Adjust focus color as desired */
  box-shadow: 0 0 5px #3897f0; /* Adjust focus box shadow as desired */
}
/*
.TodoSearch {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.TodoSearch input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  margin-right: 8px;
}

.search-icon {
  color: #555;
} */
